@tailwind base;
@tailwind components;
@tailwind utilities;

html,
 :host {
     -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
 }

@supports (text-size-adjust: 100%) {
  html,
  :host {
    text-size-adjust: 100%;
  }
}
